.ant-pagination {
  display: none;
}

.table-footer {
  text-align: right;
  margin: 20px;
}

.btn-group button {
  margin-left: 5px;
}

.ant-table-thead tr th {
  color: white;
  background: #1890ff;
}
